body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin-left: 30px;
  margin-right: 20px;
}
.navBar {
  display: flex;
  /* margin-left: 10px;
  margin-top: 20px; */
  color: hsl(0, 0%, 41%);
  justify-content: space-between;
}

.logo {
  /* padding-top: 20px; */
  align-items: center;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 20px;
}

nav div ul li a:hover {
  color: hsl(0, 0%, 8%);
}

nav div ul li {
  display: inline-block;
  list-style: none;
  padding-top: 0px;
  padding-right: 30px;
}
nav div ul li ul {
  display: none;
}

nav div ul li ul.dropdown {
  background: hsl(0, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  top: 50px;
  width: 130px;
  align-items: left;
  text-align: center;
  border-radius: 10px;
  padding: 20px 10px 10px 15px;
  font-size: 16px;
  position: absolute;
}

nav div ul li:hover ul.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 4px;
  gap: 5px;
}

.login-bttn {
  border-radius: 5px;
  border: none;
  padding: 15px 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue", sans-serif;
  cursor: pointer;
}

.login-bttn:hover {
  color: hsl(0, 0%, 8%);
}

.register-bttn {
  border-radius: 7px;
  padding: 5px 10px;
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue", sans-serif;
  margin-right: 30px;
  cursor: pointer;
}

.register-bttn:hover {
  border-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

.image {
  width: 360px;
  height: 500px;
  float: right;
  margin-left: 5px;
  margin-top: 100px;
  margin-right: 150px;
}

.content-text {
  margin-left: 150px;
  height: 500px;
  justify-content: space-between;
}

.remote {
  margin-top: 100px;
  font-weight: 800;
  font-size: 90px;
}

.message {
  /* margin-top: 0px; */
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

.learn-more-bttn {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  border-radius: 12px;
  height: 48px;
  width: 150px;
  margin-top: 30px;
  padding: 15px 15px 15px 15px;
  border: none;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;

  cursor: pointer;
}

.learn-more-bttn:hover {
  border: solid;
  border-color: hsl(0, 0%, 8%);
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}

.clients {
  padding-top: 50px;
  word-spacing: 25px;
}

.client-image {
  width: 110px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
