body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin-left: 30px;
  margin-right: 20px;
}
.navBar {
  display: flex;
  /* margin-left: 10px;
  margin-top: 20px; */
  color: hsl(0, 0%, 41%);
  justify-content: space-between;
}

.logo {
  padding-top: 20px;
}

.arrow {
  margin-left: 20px;
}

nav ul {
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-top: 0px;
  padding-right: 30px;
}

.login-bttn {
  border-radius: 5px;
  border: none;
  padding: 15px 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue", sans-serif;
}

.register-bttn {
  border-radius: 7px;
  padding: 5px 10px;
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(0, 0%, 41%);
  color: hsl(0, 0%, 41%);
  font-family: "Epilogue", sans-serif;
  margin-right: 30px;
}
/* 
DIV {
  justify-content: space-around;
} */

.image {
  width: 350px;
  height: 500px;
  float: right;
  margin-left: 5px;
  margin-top: 100px;
  margin-right: 150px;
}

.content-text {
  margin-left: 150px;
  height: 500px;
  justify-content: space-between;
}

.remote {
  margin-top: 100px;
  font-weight: 800;
  font-size: 90px;
}

.message {
  /* margin-top: 0px; */
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

.learn-more-bttn {
  background-color: hsl(0, 0%, 8%);
  color: aliceblue;
  border-radius: 8px;
  height: 40px;
  width: 150px;
  margin-top: 30px;
  padding: 15px 15px 15px 15px;
  border: none;
  font-family: "Epilogue", sans-serif;
  font-size: 15px;
}

.clients {
  padding-top: 50px;
  word-spacing: 25px;
}

.client-image {
  width: 110px;
}
