*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  font-family: 'Hanken Grotesk', sans-serif;
  margin:0 auto
}


.card {
  width: 900px;
  display: flex;
  margin: 10rem auto;

 background-color: hsl(0, 0%, 100%);
 border-radius: 2rem;
 box-shadow: .5rem 1rem 2rem hsla(240, 63%, 89%, 0.5);
}

.result {
  flex: 1;
  background: linear-gradient(hsla(252, 100%, 67%, 0.98)0%,hsla(241, 81%, 54%, 0.889)50%, hsl(241, 81%, 54%)100%);
  border-radius: 2rem;
 text-align: center;
 padding: 1rem;
}

.result h3 {
 color: hsla(0, 0%, 100%, 0.77);
 font-size: 25px;
 padding-top: .5rem;
}


.score {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin: 3rem auto;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.text {
  color: #fff;
  padding:3rem ;
}

h2 {
  font-size: 5rem;
}

.text p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.439);
  font-weight: 700;
}

h4 {
  color: #f7f7f7f1;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}


.para {
  padding: 2rem;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.717);
  margin:0 auto;
  width: 70%;
}



.summary {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.summary h3 {
  color: hsl(224, 30%, 27%);
  font-size: 25px;
  padding-bottom: 2rem;margin-left: -12rem;
}


li {
  display: flex; 
  justify-content: center;
  list-style: none;
  padding: 1rem;
  width: 20rem;
  height: 3.5rem;
  border-radius: .7rem;
  font-size: 18px;
  margin-bottom: 1.5rem;
}


img {
  padding-right: 1rem;
}


.percent {
  margin-left: 6rem;
  color: hsl(224, 30%, 27%);
}

span {
  color:  hsl(0, 0%, 59%);
}
.reaction {
  color:  hsl(0, 100%, 67%);
  background-color:  hsla(0, 100%, 67%, 0.1);
}

.memory {
  color:   hsl(39, 100%, 56%);
  background-color:  hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color:  hsl(166, 100%, 37%);
  background-color:  hsla(166, 100%, 37%, 0.1);
}

.visual {
  color:  hsl(234, 85%, 45%);
  background-color:  hsla(234, 85%, 45%, 0.1);
}

button {
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 20rem;
  border-radius: 2rem;
  margin-top: 1rem;
  font-size: 18px;
  background-color: hsl(224, 30%, 27%);
  border: none;
  cursor: pointer;
transition: all .2s ;
}


button:hover {
  background:  linear-gradient(hsla(252, 100%, 67%, 0.98)0%, hsl(241, 81%, 54%)100%);
}



.attribution { 
  font-size: 11px; 
  text-align: center;
 }
 
  
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }

  /* MEDIA QUERIES */

  @media screen and (max-width : 400px){
    

.card {
  width: 100%;
  flex-direction: column;
  margin:0;
  box-shadow: none;
   
}

.result {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
 padding: .5rem;
}

.result h3 {
 font-size: 20px;
 padding-top: .5rem;
}


.score {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
}

.text {
  padding:1rem ;
}

h2 {
  font-size: 3rem;
}

.text p {
  font-size: 16px;
}

h4 {
  font-size: 1.5rem;
  margin-top: -.5rem;
  margin-bottom: 0;
}


.para {
  padding: .5rem;
  font-size: 16px;
  margin:.5rem auto;
  width: 80%;
}


.summary {
  padding-top: 1rem;
}


.summary h3 {
  font-size: 20px;
  padding-bottom: 1rem;
  margin-left: -15rem;
}


li {
  padding: .8rem ;
  height: 3rem;
  font-size: 16px;
  margin-bottom: 1rem;
}


img {
  padding-right: .5rem;
}


button {
  margin-bottom: 2rem;
}


  }