@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1440px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem auto 0;
}

/* NAVIGATION */
.scroll {
  width: 100%;
}
.line { 
  background: rgb(77, 170, 147); 
  height: 8px; 
  border-radius: 4px; 
  width: 0%; 
  position: fixed; 
  top: 0; 
  z-index: 20;
} 


nav {
  position: fixed;
  width: 80%;
  top: 0;
  z-index: 10;
  margin: .5rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 11rem;
  background-color: #fff;
}

nav ul {
  display: flex;
  gap: 4rem;
  transform: translateX(-10rem);
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(7, 48, 48);
}

.nav-btn {
  display: flex;
  gap: 5rem;
}
nav li:hover {
  color:  rgb(2, 75, 85) ;
  font-weight: 500;
}


/* HEADER */
h1 {
  margin-top: 10rem;
  font-size: 4.5rem;
}
header p{
  font-size: 2.8rem;
  font-weight: 500;
}
header {
  text-shadow: 3px 5px 5px #000;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 50vh;
  margin-top: 5rem;
  background-image: url(./img/jon-tyson-FKkK1hnTe-Q-unsplash.jpg);
  background-size: cover;
  filter: blur(.5);
}

/* MAIN CONTENT */

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.content {
 flex: 3;
}

.content img {
  width: 100%;
  box-shadow: .3rem .3rem .5rem #ccccccd7;
}

h2 {
  margin: 4rem 0 2rem 0;
}

h3 {
  margin: 2rem 0 2rem 0;
  font-size: 1.4rem;
}

.para {
  font-size: 1.1rem;
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

p {
  font-size: 1.1rem;
}

button {
  background-color: #fff;
  border-radius: 3rem;
  padding: .5rem;
  border: 2px solid rgb(2, 75, 85);
  margin: 1rem .8rem 1rem 0 ;
  color: rgb(2, 75, 85);
  cursor: pointer;
  transition: all .2s;
}

button:hover {
  color: #Fff;
  background-color:rgb(2, 75, 85) ;
}

figcaption {
  font-size: .8rem;
  color: #777;
  padding-top: .5rem;
}
span {
  color: dodgerblue;
}


.quote {
  border-left: .5rem solid #c0dbee;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.quote p{
  font-size: 1rem;
}

/* SIDE */

.side {
  flex: 1;
  width: 10rem;
  padding: 1rem;
  margin-top: 3rem;
}

.add{
  width: 100%;
  border: 1px solid #ccc;
}

.side ul img {
  width: 80px;
  border: none;
  margin: 2rem auto;
}

.side ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.side img:hover {
  box-shadow: 0 0 20px #ccc;
}

.side ul img:hover {
  box-shadow: none;
}

.side li a {
  text-decoration: none;
  color: rgb(2, 75, 85);
}

.side li{
  list-style: none;
  padding: .5rem;
  font-size: 1.2rem;
}

.side li a:hover {
  padding-top: .2rem;
  font-weight: 500;
}

.pop li:hover {
  font-weight: 500;
}

.icon {
  width: 40px;
}
.pop {
  margin-bottom: 2rem;
}
.pop li {
  font-size: 1rem;
  color: rgb(2, 75, 85);
  border-bottom: 1px solid  #ccc;
  padding: 1rem;
}

.pop p {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 1.5rem 0 1rem 0;
}

.adds img {
  /* padding-bottom: .2rem; */
  margin: 1rem 0 0 4rem ;
  
}
  .adds {
  }

/********* FOOTER ****** */

footer {
  background-color: rgb(134, 194, 194);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
}

footer ul {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  gap: 3rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

footer ul li {
  list-style: none;
  font-size: .8rem;
  padding: 1rem ;
  cursor: pointer;
}

footer ul li:hover {
  text-decoration: underline;
}

.follow {
  text-align: center;
  padding: 2rem;
}

.follow p {
  font-size: 1rem;
  padding: 1rem;
}

.copy {
  text-align: center;
}

.copy h4 {
  font-size: 1rem;

}

.copy p {
  font-size: .8rem;
}